[submodule "Source/PathFinderPlugin/Mage/Foundation"]
	path = Source/PathFinderPlugin/Mage/Foundation
	url = https://github.com/magedevorg/Foundation.git
[submodule "Source/PathFinderPlugin/Mage/PathFinder"]
	path = Source/PathFinderPlugin/Mage/PathFinder
	url = https://github.com/magedevorg/PathFinder.git
[submodule "Source/PathFinderPlugin/Mage/Math"]
	path = Source/PathFinderPlugin/Mage/Math
	url = https://github.com/magedevorg/Math.git
[submodule "Source/PathFinderPlugin/Mage/Collision"]
	path = Source/PathFinderPlugin/Mage/Collision
	url = https://github.com/magedevorg/Collision.git
